<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="game">

	<!-- 게임 등록 -->
	<insert id="adminInsertGame" parameterType="game">
		INSERT INTO GAMES (CATE_IDX, QUIZ, SAVED_POINT, SAVED_SCORE,
		EXAMPLE_NO_1, EXAMPLE_NO_2, EXAMPLE_NO_3, EXAMPLE_NO_4,
		QUIZ_ANSWER, QUIZ_ORI, QUIZ_FILE)
		VALUES (#{cateIdx}, #{quiz}, #{savedPoint}, #{savedScore},
		#{exampleNo1}, #{exampleNo2}, #{exampleNo3}, #{exampleNo4},
		#{quizAnswer}, #{quizOri}, #{quizFile})
	</insert>

	<!-- 게임 카테고리 리스트 조회 -->
	<select id="adminGameCateList" parameterType="game" resultType="game">
		SELECT C.CATE_IDX, C.CATE_NAME, G.QUIZ_IDX, G.QUIZ, G.SAVED_POINT, G.SAVED_SCORE,
		G.EXAMPLE_NO_1, G.EXAMPLE_NO_2, G.EXAMPLE_NO_3, G.EXAMPLE_NO_4, G.QUIZ_ANSWER
		FROM GAMES G
		JOIN CATEGORYS C ON G.CATE_IDX = C.CATE_IDX
		WHERE C.CATE_IDX BETWEEN 200 AND 299
	</select>

	<!-- 카테고리별 게임 조회 -->
	<select id="adminGetGame" parameterType="game" resultType="game">
		SELECT C.CATE_IDX, C.CATE_NAME, G.QUIZ_IDX, G.QUIZ, G.SAVED_POINT, G.SAVED_SCORE,
		G.EXAMPLE_NO_1, G.EXAMPLE_NO_2, G.EXAMPLE_NO_3, G.EXAMPLE_NO_4, G.QUIZ_ANSWER
		FROM GAMES G
		JOIN CATEGORYS C ON G.CATE_IDX = C.CATE_IDX
		WHERE C.CATE_IDX = #{cateIdx}
	</select>

	<!-- 특정 게임 조회 -->
	<select id="adminGetGameOne" parameterType="game" resultType="game">
		SELECT C.CATE_IDX, C.CATE_NAME, G.QUIZ_IDX, G.QUIZ, G.SAVED_POINT, G.SAVED_SCORE,
		G.EXAMPLE_NO_1, G.EXAMPLE_NO_2, G.EXAMPLE_NO_3, G.EXAMPLE_NO_4, G.QUIZ_ANSWER
		FROM GAMES G
		JOIN CATEGORYS C ON G.CATE_IDX = C.CATE_IDX
		WHERE G.QUIZ_IDX = #{quizIdx}
	</select>

	<!-- 게임 업데이트 -->
	<update id="adminGameUpdate" parameterType="game">
		UPDATE GAMES
		SET CATE_IDX = #{cateIdx},
		QUIZ = #{quiz},
		SAVED_POINT = #{savedPoint},
		SAVED_SCORE = #{savedScore},
		EXAMPLE_NO_1 = #{exampleNo1},
		EXAMPLE_NO_2 = #{exampleNo2},
		EXAMPLE_NO_3 = #{exampleNo3},
		EXAMPLE_NO_4 = #{exampleNo4},
		QUIZ_ANSWER = #{quizAnswer}
		WHERE QUIZ_IDX = #{quizIdx}
	</update>

	<!-- 게임 삭제 -->
	<delete id="adminGameDelete" parameterType="game">
		DELETE FROM GAMES WHERE QUIZ_IDX = #{quizIdx}
	</delete>

	<!-- 게임 리스트 조회(무작위) -->
	<select id="gaebalGetGameList" parameterType="game" resultType="game">
		SELECT *
		FROM GAMES
		WHERE CATE_IDX = #{cateIdx}
		ORDER BY RAND() <!-- MySQL에서 무작위 정렬은 RAND() 사용 -->
	</select>

</mapper>