<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myProduct">

	<!-- 결제 -->
	<insert id="insertMyProduct" parameterType="myProductVO">
		INSERT INTO MY_PRODUCTS (MEMBER_IDX, PRODUCT_IDX)
		VALUES (#{memberIdx}, #{productIdx})
	</insert>

	<!-- 취소 -->
	<delete id="deleteMyProduct" parameterType="myProductVO">
		DELETE FROM MY_PRODUCTS
		WHERE MEMBER_IDX = #{memberIdx} AND PRODUCT_IDX = #{productIdx}
	</delete>

	<!-- 조회(회원이 가지고 있는 상품들 정보) -->
	<select id="selectMyProduct" parameterType="int" resultType="myProductVO">
		SELECT M.PRODUCT_IDX, P.PRODUCT_FILE, P.PRODUCT_NAME
		FROM MY_PRODUCTS M
		JOIN PRODUCTS P ON M.PRODUCT_IDX = P.PRODUCT_IDX
		WHERE M.MEMBER_IDX = #{memberIdx}
		ORDER BY M.PRODUCT_IDX
	</select>

	<!-- 조회(회원이 상품을 가지고 있는지 여부) -->
	<select id="selectMyProductOk" parameterType="myProductVO" resultType="int">
		SELECT COUNT(*)
		FROM MY_PRODUCTS
		WHERE MEMBER_IDX = #{memberIdx}
		AND PRODUCT_IDX = #{productIdx}
	</select>

</mapper>
