<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main">

	<!-- CATEGORYS 테이블에 데이터 추가 쿼리 -->
	<insert id="adminInsertCate" parameterType="java.util.Map">
		<choose>
			<when test="cateType == 'board'">
				INSERT INTO CATEGORYS (CATE_IDX, CATE_NAME)
				VALUES ((SELECT COALESCE(MAX(CATE_IDX), 0) + 1 FROM CATEGORYS WHERE CATE_IDX BETWEEN 100 AND 199), #{cateName})
			</when>
			<when test="cateType == 'game'">
				INSERT INTO CATEGORYS (CATE_IDX, CATE_NAME)
				VALUES ((SELECT COALESCE(MAX(CATE_IDX), 199) + 1 FROM CATEGORYS WHERE CATE_IDX BETWEEN 200 AND 299), #{cateName})
			</when>
			<when test="cateType == 'pointStatus'">
				INSERT INTO CATEGORYS (CATE_IDX, CATE_NAME)
				VALUES ((SELECT COALESCE(MAX(CATE_IDX), 299) + 1 FROM CATEGORYS WHERE CATE_IDX BETWEEN 300 AND 399), #{cateName})
			</when>
			<when test="cateType == 'prods'">
				INSERT INTO CATEGORYS (CATE_IDX, CATE_NAME)
				VALUES ((SELECT COALESCE(MAX(CATE_IDX), 399) + 1 FROM CATEGORYS WHERE CATE_IDX BETWEEN 400 AND 499), #{cateName})
			</when>
			<when test="cateType == 'question'">
				INSERT INTO CATEGORYS (CATE_IDX, CATE_NAME)
				VALUES ((SELECT COALESCE(MAX(CATE_IDX), 499) + 1 FROM CATEGORYS WHERE CATE_IDX BETWEEN 500 AND 599), #{cateName})
			</when>
		</choose>
	</insert>

	<!-- 카테고리 데이터 조회를 위한 쿼리 -->
	<select id="adminGetCateAll" parameterType="string" resultType="cate">
		SELECT * FROM CATEGORYS ORDER BY CATE_IDX
	</select>

	<!-- 게임 카테고리 데이터 조회를 위한 쿼리 -->
	<select id="gaebalGetGameCate" parameterType="string" resultType="cate">
		SELECT * FROM CATEGORYS WHERE CATE_IDX BETWEEN 200 AND 299
	</select>

	<!-- 질문 카테고리 데이터 조회를 위한 쿼리 -->
	<select id="gaebalGetQuestionCate" parameterType="string" resultType="cate">
		SELECT * FROM CATEGORYS WHERE CATE_IDX BETWEEN 400 AND 499
	</select>

	<select id="getMemPoint" parameterType="member" resultType="member">
		SELECT * FROM MEMBERS WHERE MEMBER_IDX = #{memberIdx}
	</select>

	<!-- SCORE 테이블에 데이터 추가 쿼리 -->
	<insert id="gaebalInsertPoint" parameterType="score">
		INSERT INTO SCORE (MEMBER_IDX, SCORE, POINT)
		VALUES (#{memberIdx}, #{score}, #{point})
	</insert>

	<!-- 상품 카테고리 데이터 조회를 위한 쿼리 -->
	<select id="gaebalGetProductCate" parameterType="string" resultType="cate">
		SELECT * FROM CATEGORYS WHERE CATE_IDX BETWEEN 300 AND 399
	</select>

	<!-- 메인페이지에 공지사항만 불러오기 -->
	<select id="getNotice" resultType="board">
		SELECT *
		FROM BOARDS
		WHERE CATE_IDX = 100
	</select>

</mapper>
