<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bookmarkDAO">

	<!-- 북마크(즐겨찾기) 여부 확인 -->
	<select id="getBookmarkStatus" parameterType="bookmark" resultType="int">
		SELECT COUNT(*)
		FROM BOOKMARK
		WHERE MEMBER_IDX = #{memberIdx} AND CATE_IDX = #{cateIdx}
	</select>

	<!-- 북마크(즐겨찾기) 등록 -->
	<insert id="addBookmark" parameterType="bookmark">
		INSERT INTO BOOKMARK (BOOKMARK_IDX, MEMBER_IDX, CATE_IDX)
		VALUES (NULL, #{memberIdx}, #{cateIdx})  <!-- AUTO_INCREMENT가 설정된 경우, BOOKMARK_IDX는 NULL로 지정 -->
	</insert>

	<!-- 북마크(즐겨찾기) 삭제 -->
	<delete id="deleteBookmark" parameterType="bookmark">
		DELETE FROM BOOKMARK
		WHERE MEMBER_IDX = #{memberIdx} AND CATE_IDX = #{cateIdx}
	</delete>

	<!-- 북마크 게시글만 조회 -->
	<select id="getCommunityPagingListByBookmark" parameterType="java.util.HashMap" resultType="community">
		<![CDATA[
            SELECT B.*, M.NICKNAME, C.CATE_NAME
            FROM BOARDS B
            JOIN MEMBERS M ON B.MEMBER_IDX = M.MEMBER_IDX
            JOIN CATEGORYS C ON B.CATE_IDX = C.CATE_IDX
            WHERE B.CATE_IDX IN (
                SELECT CATE_IDX
                FROM BOOKMARK
                WHERE MEMBER_IDX = #{memberIdx}
            )
            ORDER BY B.BOARD_IDX DESC
            LIMIT #{start}, #{limit}  <!-- MySQL의 LIMIT 구문을 사용 -->
        ]]>
	</select>

	<!-- 북마크 게시글 개수 구하기 -->
	<select id="communityBoardCountByBookmark" parameterType="int" resultType="Integer">
		SELECT COUNT(*)
		FROM BOARDS
		WHERE CATE_IDX IN (
		SELECT CATE_IDX
		FROM BOOKMARK
		WHERE MEMBER_IDX = #{memberIdx}
		)
	</select>

</mapper>